<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div>
  <h1>reset</h1>
  <form>
    <label for="password">password</label>
    <input id="password" name="newPassword" type="password" value="" />

    <label for="matchPassword">confirm</label>
    <input id="matchPassword" name="matchPassword" type="password" value="" />


    <div id="globalError" style="display:none"
         >error</div>
    <button type="submit" onclick="savePass"
            >submit</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:inline="javascript">

    let token = /*[[${token}]]*/ "";
    let regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;

    $(document).ready(function () {
        $('form').submit(function(event) {
          savePass(event);
        });

        $(":password").keyup(function(){
          if (!regex.test($("#password").val())) {
            $("#globalError").show().html("Password must be at least 8 characters, contain an uppercase letter, a lowercase letter, and a digit.");
          } else if($("#password").val() != $("#matchPassword").val()) {
            $("#globalError").show().html("Passwords do not match!");
          } else {
            $("#globalError").html("").hide();
          }
        });
      });

    function savePass(event){
      event.preventDefault();

      if (!regex.test($("#password").val())) {
        $("#globalError").show().html("Password must be at least 8 characters, contain an uppercase letter, a lowercase letter, and a digit.");
        return;
      }

      if($("#password").val() != $("#matchPassword").val()) {
        $("#globalError").show().html("Passwords do not match!");
        return;
      }

      let formData = {
        newPassword: $("#password").val(),
        matchPassword: $("#matchPassword").val(),
        token: token
      };

      $.ajax({
        url: "/api/v1/password/savePassword",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(formData),
        success: function(data) {
          window.location.href = "/passwordChangedSuccessfully.html";
        },
        error: function(xhr) {
          let response = xhr.responseJSON;

          $("#globalError").show().html(response?.message || "An unexpected error occurred.");
        }
      });
    }

  </script>
</div>
</body>
</html>